body {
    
    font-family: Georgia, "Times New Roman", Times, serif;
}

.infoPersonnelles,
.compteAcess,
.identifiant {
    margin: 10px;
    border: 4px solid rgba(7, 116, 118, 0.534);
    border-radius: 10px;
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    margin: 1rem auto;
    background-color: rgba(17, 212, 226, 0.21);
    padding: .5rem;
    border-radius: 5px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.233);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.staticEmail2 {
    float: right;
    width: auto;
    font-size: 1.5rem;
    margin: 7px 20px;
    border-radius: 20px;
}

.boutons {
    margin: 15px;
    display: flex;
    justify-content: space-between;
}
